:root {
    --col-slate: #a8b2d1;
    --col-white: #e6f1ff;
    --col-green: rgb(0, 215, 0);
    --bg-color: #112240;
}

body {
    background-color: var(--bg-color);
    color: var(--col-white);
}

.custom-card {
    margin: 20px;
    /* height: 75vh; */
    max-width: 50vh;
    background-color: var(--bg-color);
    color: var(--col-slate);
}

.header-portfolio {
    margin: 20px;
}

.portfolio-icons a {
    margin: 0 15px;
}