.contact-col {
  margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.contact-col a:hover .icon {
    color: var(--col-green) !important;
}

.form-control {
  margin-top: 1rem;
}